.page-title {
    color: blue;
    text-align: center;
    font-family: 'Sigmar One', sans-serif;
    font-size: 2rem;
}

.word-to-guess {
    text-align: center;
    font-size: 4rem;
    font-family: 'Viga', sans-serif;
}

.guess-button-div {
    text-align: center;
}

.guess-button {
    background-color: purple; 
    font-size: 1rem;
    color: white;
    padding: 10px;
    margin-top: 4rem;
    font-family: 'Varela', sans-serif;
}

.wrong-msg {
    background-color: palevioletred;
    margin-top: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Varela', sans-serif;

}

.correct-msg {
    background-color: palegreen;
    margin-left: 20rem;
    margin-top: 2rem;
    padding: 5px;
    margin-right: 20rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Varela', sans-serif;
}

.end-wrong {
    text-align: center;
}

.end-wrong-text {
    font-size: 1.5rem;
    font-family: 'Varela', sans-serif;
    margin-top: 2rem;
}

.end-button {
    background-color: green; 
    font-size: 1rem;
    color: white;
    padding: 10px;
    margin-top: 4rem;
    font-family: 'Varela', sans-serif;
}