.page-title {
    color: blue;
    text-align: center;
}

.word-to-guess {
    text-align: center;
    font-size: 4rem;
}

.guess-button-div {
    text-align: center;
}

.guess-button {
    background-color: purple; 
    font-size: 1rem;
    color: white;
    padding: 10px;
    margin-top: 4rem;
}

.wrong-msg {
    background-color: palevioletred;
    margin-top: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
}

.correct-msg {
    background-color: palegreen;
    margin-left: 20rem;
    margin-top: 2rem;
    padding: 5px;
    margin-right: 20rem;
    text-align: center;
    font-size: 1.5rem;
}
